[submodule "e-office-api-v2"]
	path = e-office-api-v2
	url = git@gitlab.fsm.internal:pkl/e-office/e-office-api-v2.git
[submodule "e-office-webapp-v2"]
	path = e-office-webapp-v2
	url = git@gitlab.fsm.internal:pkl/e-office/e-office-webapp-v2.git
